/* Bluer */
.theme-mfo .sidebar {
  background-color: #2879d0;
}
.theme-mfo .post h1:first-of-type,
.theme-mfo .content a,
.theme-mfo .related-posts li a:hover {
  color: #2879d0;
}

/* About section */
.sidebar-about h1 {
  font-family: unset;
  font-size: 2.25rem;
}

/* Sticky sidebar */
@media (min-width: 48em) {
  .sidebar-sticky {
    bottom: unset;
  }
}
